:root {
    --base-line-height: 24px; // this is the underlying grid for body copy
    --base-line-ratio: 0.64; // this is the ratio of the font-size compared to the line-height. 
    --base-font-size: calc(var(--base-line-height) * var(--base-line-ratio)); // DEFAULT (mobile) here we size the font using the above line-height and ratio
    
    --typescale: 1.14; // This is the 'step' size increase in font-sizes from p > h4 > h3 > h2 > h12
    --typescale-lg: 1.25; // We switch to this 'steeper' type scale on bigger screens (not mobile)
    --title-size: clamp(30px, 7vw, 60px);
    --stat-font-size: clamp(5rem, 30cqi, 8rem);
    
    --sjs-red: #ee3540;
    --sjs-blue: url(/images/Dark-RGB.jpg);
    --sjs-navy: #283273;
    --sjs-footnote: #F1F2F4;
    --sjs-link-color: #0654C7;
    --sjs-hover-color: #0062F1;
    --sjs-visited-color: #3D3D3D;
    
    --font-TT-bold: "TT Commons Bold", "Roboto", Helvetica, Arial, sans-serif; // Hero text
    --font-TT-reg: "TT Commons Regular", "Roboto", Helvetica, Arial, sans-serif; // Default body text
    --font-Roboto-condensed: "Roboto Condensed", Noto-sans, sans-serif; // condesned heading style
    --font-Roboto-body: "Roboto", Helvetica, Arial, sans-serif;  
  }
  
  body {
    margin: 0;
    padding: 0;
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    font-family: var( --font-Roboto-body);
  }
  a{
    text-decoration: none;
    &:link{
      color: var(--sjs-link-color);
    }
    &:hover{
      color: var(--sjs-hover-color);
    }
    &:visited{
      color: var(--sjs-visited-color);
    }
  }
  main {
    max-width: 1200px;
    //outline: 2px dashed dodgerblue;
    margin: 0 auto;
    padding: 0 2rem;
    scroll-behavior: smooth;
  }
  img{
      width: 100%;          /* Scale image to column width */
      height: auto;        /* Maintain aspect ratio */
      object-fit: cover; 
      margin-bottom: 1rem;
   }
  
  @use 'font-extra';
  
  @use 'nav';
  @use 'typography';
  @use 'electorates';
  @use 'blockquote';
  @use 'hero';
  @use 'stat-boxes';
  @use 'icons';
  @use 'flow';
  @use 'summary';
  
  @use 'style_desktop';